<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| puddle</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>

    <header class="fixed top-0 left-0 w-full px-10 py-5 bg-blue-400 text-white">
        <div class="flex justify-between items-center">
            <div class="flex gap-3 items-center">
                <h1 class="bg-orange-500 text-white font-bold w-10 h-10 leading-10 text-center rounded-full">P</h1>
                <h1 class="font-bold text-2xl">puddle</h1>
            </div>

            <nav class="">
                <ul class="flex flex-row gap-7 items-center ">
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Blog</li>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'newitems' %}" class="px-4 py-3 bg-green-500 text-white rounded-lg hover:bg-green-400">New items</a>
                    <a href="#" class="px-4 py-3 bg-green-500 text-white rounded-lg hover:bg-green-400">Inbox</a>
                    <a href="#" class="px-4 py-3 bg-gray-500 text-white rounded-lg hover:bg-gray-400">Dashboard</a>
                    {% else %}
                      <li><a href="{% url 'signup' %}" class="text-white bg-orange-500 px-5 py-2 rounded-md">signup</a></li>
                      <li><a href="{% url 'login' %}" class="text-white bg-orange-500 px-5 py-2 rounded-md">Login</a></li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock %}


    <footer class="bg-blue-400 py-16 text-white">
        <div class="px-10">
            <div class="flex gap-10">
                <div class="max-w-sm">
                    <div class="flex gap-3 items-center">
                        <h1 class="bg-orange-500 text-white font-bold w-10 h-10 leading-10 text-center rounded-full">P</h1>
                        <h1 class="font-bold text-2xl">puddle</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sapiente.</p>
                </div>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Navbar</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>